apiVersion: apps/v1
kind: Deployment
metadata:
  name: wwantisoft
spec:
  replicas: 9
  minReadySeconds: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  selector:
    matchLabels:
      app: wwantisoft
  template:
    metadata:
      name: wwantisoft
      labels:
        app: wwantisoft
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:

          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - wwantisoft
              topologyKey: kubernetes.io/hostname
      containers:
      - name: image1
        image: erkules/nginxhostname:v1

