---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tomcatkitty
  namespace: myflux
spec:
  chart:
    spec:
      chart:   tomcat
      version: 0.4.3 
      sourceRef:
        kind: HelmRepository
        name: tomcatrepo
  interval: 1m0s
  serviceAccountName: myflux
  releaseName: tomcatkitty
  values:
    replicaCount: 3
    service:
      type: NodePort

