---
apiVersion: v1
kind: Namespace
metadata:
  name: webhook
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: checkscript
  namespace: webhook
data:
  index.html: |
    #!/bin/bash 
    echo Status: 200 OK
    echo Content-Type: application/json
    echo        
    echo        
    post="$(cat)"
    echo  $post >&2
    echo  $post >/tmp/log
    ID=$(echo $post | jq -r .request.uid )
    echo $ID >/tmp/id
    jq -n --arg id "$ID" '{apiVersion: "admission.k8s.io/v1",kind: "AdmissionReview", response: { uid: $id,allowed: false, status: {code: 403, message: "du nicht" }  } }'

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhookscript
  namespace: webhook
spec:
  replicas: 1
  minReadySeconds: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  selector:
    matchLabels:
      app: webhook
  template:
    metadata:
      name: webhook
      labels:
        app: webhook
    spec:
      containers:
      - name: image1
        image: erkules/webhookimg:v1
        volumeMounts:
        - name: checkscript
          mountPath: /usr/local/apache2/htdocs
        imagePullPolicy: IfNotPresent
      volumes:
      - name: checkscript
        configMap:
          defaultMode:  0777
          name: checkscript 

---

apiVersion: v1
kind: Service
metadata:
  name: check
  namespace: webhook
spec:
  ports:
  - port: 443
  selector:
    app: webhook

